basePath: /
definitions:
  dto.CreateProductDto:
    properties:
      nome:
        type: string
      preco:
        type: number
    type: object
  dto.CreateUserDto:
    properties:
      email:
        type: string
      nome:
        type: string
      senha:
        type: string
    type: object
  dto.GetJWT:
    properties:
      email:
        type: string
      senha:
        type: string
    type: object
  dto.GetJWTOutput:
    properties:
      access_token:
        type: string
    type: object
  model.Product:
    properties:
      created_at:
        type: string
      id:
        type: string
      nome:
        type: string
      preco:
        type: number
    type: object
host: localhost:8000
info:
  contact:
    name: Luís Fernando Pinto
  description: API com autenticação JWT
  termsOfService: http://swagger.io/terms/
  title: Pós Go Expert
  version: "1.0"
paths:
  /product:
    get:
      consumes:
      - application/json
      description: get all products
      parameters:
      - description: page number
        in: query
        name: page
        type: string
      - description: limit
        in: query
        name: limit
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.Product'
            type: array
        "404":
          description: Not Found
          schema: {}
        "500":
          description: Internal Server Error
          schema: {}
      security:
      - ApiKeyAuth: []
      tags:
      - product
    post:
      consumes:
      - application/json
      description: Create product
      parameters:
      - description: product request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.CreateProductDto'
      produces:
      - application/json
      responses:
        "201":
          description: Created
        "500":
          description: Internal Server Error
          schema: {}
      security:
      - ApiKeyAuth: []
      tags:
      - product
  /product/{id}:
    delete:
      consumes:
      - application/json
      description: Delete a product
      parameters:
      - description: product ID
        format: uuid
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
          schema: {}
      security:
      - ApiKeyAuth: []
      tags:
      - product
    get:
      consumes:
      - application/json
      description: get a product
      parameters:
      - description: product ID
        format: uuid
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Product'
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
          schema: {}
      security:
      - ApiKeyAuth: []
      tags:
      - product
    put:
      consumes:
      - application/json
      description: Update a product
      parameters:
      - description: product ID
        format: uuid
        in: path
        name: id
        required: true
        type: string
      - description: product request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.CreateProductDto'
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
          schema: {}
      security:
      - ApiKeyAuth: []
      tags:
      - product
  /user:
    post:
      consumes:
      - application/json
      description: Create user
      parameters:
      - description: user request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.CreateUserDto'
      produces:
      - application/json
      responses:
        "201":
          description: Created
        "500":
          description: Internal Server Error
          schema: {}
      tags:
      - user
  /user/token:
    post:
      consumes:
      - application/json
      description: Get a user JWT
      parameters:
      - description: user credentials
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.GetJWT'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.GetJWTOutput'
        "500":
          description: Internal Server Error
          schema: {}
      tags:
      - user
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
